*{
    padding: 0;
    margin: 0;
}
.wrapper
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#name{
    font-size: 2.6em;
    margin-bottom: 50px;
    font-family: "Audiowide", sans-serif;
    text-shadow: 0 0 10px pink,0 0 20px pink, 0 0 5px pink,0 0 30px pink;
}
#score{
    font-size: 5vh;
    width: 20vh;
    height:10vh;
    border: 1px solid;
    margin-bottom: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOver{
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    margin: 20px;
    color: black;
}